* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", serif;
    font-size: 16px;
}
li {
    list-style: none;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/pexels-scottwebb-1029606.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative; 
    display: flex;
    flex-direction: column;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: .2rem;
}
.nav-logo p {
    font-size: 12px;
}
.nav-action {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.nav-action i {
    background-color: white;
    padding: 3px;
    font-size: 20px;
}
.nav-actions p {
    margin-bottom: .1rem;
    color: white;
    font-size: 12px;
}
.nav-actions a {
    color: white;
    font-size: 9px;
}
.nav-list {
    display: flex;
    gap: 1.5rem;
}
.nav-list li {
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    font-size: 12px;
    color: white;
}
.nav-list li a:hover {
    text-decoration: underline;
}
.hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
}
.hero-title {
    font-size: 70px;
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
}
.hero-desc {
    font-size: 14px;
    color: white;
    margin-bottom: 3rem;
}
.hero-btn {
    background-color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.section {
    margin-top: 2rem;
}
.first {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.section-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    gap: 1rem;
}
.section-container p {
    background-color: #f9f9f9;
    font-size: 10px;
    padding: 1rem;
}
.second {
    display: flex;
    flex-direction: column;
}
.second .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.img-container {
    width: 100%;
}
.img-container img {
    width: 100%;
    height: auto;
    display: block;

}
.text-container {
    background-color: #f9f9f9;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: start;
    padding-left: 3rem;
}
.second-title {
    margin-bottom: 1rem;
    font-size: 20px;
}
.text-container ul li i {
   margin-right: .5rem; 
}
.text-container ul li {
    font-size: 12px;
    margin-bottom: .5rem;
}
